<!DOCTYPE html>
<html>
<head>
  <title>Whitzo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon' %>

</head>
<body>

<%= yield %>

<div class="footer">
    <div id="login">
        <div id="memberText">
            <% if user_signed_in? %>
               <p style="float:left; margin-right:20px">Welcome <%= current_user.email %> </p>
               <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            <% else %>
               <p style="float:left; margin-right:20px">No User is signed in </p>
               <%= link_to "Sign In", new_user_session_path %>
               <%= link_to "Sign Up", new_user_registration_path %>
            <% end %>
        </div>
    </div>
    <div id="shareImages">
        <%= image_tag("facebook") %>
        <%= image_tag("twitter") %>
        <%= image_tag("pinterest") %>
        <%= image_tag("linkedin") %>
    </div>
</div>

<style>
   a {
      color:blue;
   }

</body>
</html>
